<!-- locationsList.phtml-->
<?php
//Get Locations from the block
$locations = $block->getLocations();
//Get search radius
$SearchRadius =  $block->getSearchRadius();
//Get if it is miles/kilometers
$distUnit =  $block->getDistUnit();
//get hte users posted location
$userGeo =  $block->getUsersLocationPost();

$icons = $block->getIcons();
$storeIcon = $icons['storeIcon'];
$directionsIcon = $icons['directionsIcon'];
?>
<div id="listwrapper">
    <?php
    if (empty($locations)) {?>
        <div class="nolocations alert alert-warning">
            <span class="nolocationshead"><?php echo $block->escapeHtml(__('No locations found'));?></span><br>
            <?php if ($SearchRadius != '') { ?>
            <span class="nolocationssub"><?php
            $distUnitText = $SearchRadius.$distUnit;
            echo $block->escapeHtml(__('with-in '));?><?php echo $block->escapeHtml($distUnitText);?></span>
            <?php } ?>
        </div>
    <?php
    }
    ?>
        <div id="distanceToFar" class="nolocations alert alert-warning" style="display:none">
            <span class="nolocationshead"><?php echo $block->escapeHtml(__('No locations found close by'));?></span><br>
        </div>
    <?php
    foreach ($locations as $location) { ?>
        <div data-storeid="<?php echo $block->escapeHtml($location['id']);?>"
        data-lat="<?php echo $block->escapeHtml($location['geo_location_lat']);?>"
        data-lng="<?php echo $block->escapeHtml($location['geo_location_lng']);?>"
        class="row location_info" onclick="storeRowClicked('<?php echo $block->escapeHtml($location['id']);?>')">
            <div class="col-xs-3 col-md-2 xs-visible">
                <?php if ($location['custom_pointer'] != '') { ?>
          <img src="<?php echo $block->escapeHtml($location['custom_pointer']);?>" width="100px" alt="custom_pointer"/>
            <?php } ?>
            </div>
            <div class="col-xs-9 col-sm-7 col-md-7 location_list_middle" >
                <span class="location_name "> <?php echo $block->escapeHtml($location['location_name']);?></span>
                <span class="location_address" ng-class="listloader == true ? 'listloader': ''"> 
                <?php echo $block->escapeHtml($location['location_address']);?>
                </span>

                <?php if (isset($location['distance'])) {?>
                <span class="sm_distance"><?php
                    echo $block->escapeHtml($location['distance']);?>
                </span>
                <?php } ?>
            </div>
            <?php if (isset($location['distance'])) {?>
                <div class="col-xs-9 col-sm-3 col-xs-offset-3 col-sm-offset-0 location_list_right" >
                      <span class="location_distance  " ng-class="listloader == true ? 'listloader': ''">
                      <label>Distance: </label><?php
                        echo $block->escapeHtml($location['distance']);
                        ?></span>

                        <div class="row">
                            <div class="col-sm-6 fullviewbutton">
                                <a href="https://maps.google.com/?saddr=<?php
                                if (isset($userGeo['lat'])) {
                                    echo $block->escapeHtml($userGeo['lat']).','.$block->escapeHtml($userGeo['lng']);
                                }?>&daddr=<?php
                                echo $block->escapeHtml($location['location_address']);
                                ?>" class="getdirectionsbutton " target="_blank" >
                                <img src="<?php echo $directionsIcon;?>" >
                                <br>Directions</a>
                            </div>
                           
                                <?php if ($location['show_details_page'] == 1) { ?>
                                 <div class="col-sm-6 fullviewbutton">
                                <a href="<?php
                                echo $block->escapeHtml($location['fulldetails']);?>" class="getfullbutton" >
                                    <img src="<?php echo $storeIcon;?>"  class="storeicon">
                                <br> <span> Details </span></a>
                                </div>
                                <?php }?>
                        </div>
                </div>
            <?php } else { ?>
                <div class="col-xs-9 col-sm-3 col-xs-offset-3 col-sm-offset-0 location_list_right " >
                     <div class="row">
                            <div class="col-sm-6 fullviewbutton">
                    <a href="https://maps.google.com/?saddr=<?php
                    if (isset($userGeo['lat'])) {
                        echo $block->escapeHtml($userGeo['lat']).','.$block->escapeHtml($userGeo['lng']);
                    }?>&daddr=<?php
                    echo $block->escapeHtml($location['location_address']);
                    ?>" class="getdirectionsbutton " target="_blank" >
                            <img src="<?php echo $directionsIcon;?>" >
                                <br>Directions</a>
                     </div>
                    <?php if ($location['show_details_page'] == 1) { ?>
                     <div class="col-sm-6 fullviewbutton">
                    <a href="<?php
                    echo $block->escapeHtml($location['fulldetails']);?>" class="getfullbutton " ><img src="<?php echo $storeIcon;?>"  class="storeicon" >
                                <br>
                                <span> Details </span></a>
                    </div>
                    <?php }?>
                     </div>
                </div>
            <?php } ?>
            <div class="col-xs-12 splitviewarea">
                <a href="https://maps.google.com/?saddr=<?php
                if (isset($userGeo['lat'])) {
                    echo $block->escapeHtml($userGeo['lat']).','.$block->escapeHtml($userGeo['lng']);
                }?>&daddr=<?php
                echo $block->escapeHtml($location['location_address']);
                ?>" class="getdirectionsbutton" target="_blank" >Get Directions ➔</a>
                <?php if ($location['show_details_page'] == 1) { ?>
                <a href="<?php
                echo $block->escapeHtml($location['fulldetails']);?>" class="getfullbutton" >More Details  ➔</a>
                <?php }?>
            </div><!-- end col-sm-12-->
        </div> <!-- end datastoreid-->
    <?php
    } //end foreach?>
  </div>