<!-- locations.phtml-->
<div class="container-fluid visible-xs visible-sm visible-md visible-lg" id="storefinder">
       <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-5  col-sm-offset-0">
          <h1 id="storefinderheading"><?php echo $block->escapeHtml(__('Store Finder'));?></h1>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-7 search_wrapper_postion" >
              <div class="search_wrapper_margin" >

                  <div id="search_wrapper_all" <?php
                    if (!$block->showAddressSearchBar()) {
                        echo 'class="hidden"';
                    }
                    ?> >
                        <label for="user_address" class="tabpostcode active" onclick="setPostcodeSearch();">
                        <?php echo $block->escapeHtml($block->getPostcodeTabText());?>
                        </label>
                        <label for="user_address" class="tabaddress"  onclick="setAddressSearch();" >
                        <?php echo $block->escapeHtml(__('Address'));?>
                        </label>

                        <!-- search-->
                        <div id="search_wrapper">

                          <input type="search" id="user_address" placeholder="Enter <?php
                            echo $block->escapeHtml($block->getPostcodeTabText());
                            ?>"/>
                          <div id="nosearchfound">
                            <?php echo $block->escapeHtml(__('Address could not be found'));
                            $country = $block->getCountry();
                            if ($country != '') { ?>
                            <span class="pull-right">
                            <?php echo $block->escapeHtml($country);?>
                            </span>
                            <?php
                            } ?>
                          </div>
                          <a href="#" id="emptysearch" onclick="emptySearch();return false;" >X</a>
                        </div><!-- end search_wrapper-->

                  </div><!--search_wrapper_all-->
                  <input type="hidden" id="user_lat" /><!-- hidden lattitude-->
                  <input type="hidden" id="user_lng" /><!-- hidden longigtude-->
              </div>
        </div>

    </div><!-- end row-->
        <?php if ($block->splitMobile()) { ?>    
    <div class="mobibuttons visible-xs visible-sm hidden-md">
      <ul class="simplebuttons">
        <li id="mobiview_map" class="active" onclick="checkMobiButton('map');">
            <?php echo $block->escapeHtml(__('Map View'));?>
        </li>
        <li id="mobiview_list" onclick="checkMobiButton('list');">
            <?php echo $block->escapeHtml(__('List View'));?>
        </li>
      </ul>
    </div>
    <?php } ?>
  <div class="row maparea <?php echo $block->mobileClass();?>">
    <div id="mapview" class="col-xs-12 col-sm-12 col-md-7 active" >
         <div id="map" >
          <!-- loader-->
          <!--<img src="<?php echo $block->escapeHtml($block->getMapLoaderImage());?>" class="maploader hidden-xs" style="width:100%" alt="maploader"/>-->
          <div class="spinner maploader"></div>
         </div>
    </div>
    <div id="listview" class="col-xs-12 col-sm-12 col-md-5 <?php if (!$block->splitMobile()) {
        echo 'active';
} ?>">
        <!-- this is populated by the ajx calls  see the template file locationsList.phtml-->
        <!-- loader-->
        <div class="spinner"></div>

    </div> <!-- end listview-->
  </div> <!-- end maparea-->
