<!--storeDetailsHeader.phtml-->
<?php
//get the api key from the block
$apikey = $block->getApiKey();
?>
<!-- include the google mpas api key-->
<script type="text/x-magento-init">
    {
        "*": {
            "https://maps.googleapis.com/maps/api/js?key=<?php echo $block->escapeHtml($apikey);?>&libraries=places&callback=googleMapsLoaded":{}
        }
    }
</script>
<?php $block->getStoreDetails(); ?>
<?php if ($block->storeDetails->getImage() != '') { ?>
<meta property="og:image" content="<?php echo $block->escapeHtml('/pub/media/'.$block->storeDetails->getImage());?>"/>
<?php } ?>
<meta property="og:title" content="<?php echo $block->escapeHtml($block->storeDetails->getLocationName());?>"/>
