<!-- storeDetails.phtml-->

<h1><?php echo $block->escapeHtml($block->storeDetails->getLocationName());?></h1>

<div id="location_details" class="row">
    <div class="col-sm-6 location_details_left">
    <input type="hidden" id="hiddenStoreId" value="<?php  echo $block->escapeHtml($block->storeDetails->getData('location_id'));?>"/>
    <?php if ($block->storeDetails->getImage() != '') { ?>
        <img  src="/pub/media/<?php echo $block->escapeHtml($block->storeDetails->getImage());?>" class="store_image" alt="storeimage">
        <br>
        <?php } ?>
        <a href="https://maps.google.com/?daddr=<?php
        echo $block->escapeHtml($block->storeDetails->getData('location_address'));
        ?>"
          class="directions">
            <em><?php echo $block->escapeHtml(__('Get Directions'));?></em>
        </a>
        <h2 class="address_heading"><?php echo $block->escapeHtml(__('Address'));?></h2>
        <div class="clearboth"></div>
         <a href="https://maps.google.com/?daddr=<?php
            echo $block->escapeHtml($block->storeDetails->getData('location_address'));
            ?>" class="location_address"><?php echo
         $block->escapeHtml($block->storeDetails->getData('location_address'));
            ?></a>

        <?php if ($block->storeDetails->getPhone() != '') { ?>
            <div class="location_info">
                <label><?php echo $block->escapeHtml(__('Phone:'));?></label>
                <span><?php echo $block->escapeHtml($block->storeDetails->getPhone());?></span>
            </div>
        <?php } ?>
        <?php if ($block->storeDetails->getFax() != '') { ?>
        <div class="location_info">
            <label><?php echo $block->escapeHtml(__('Fax:'));?></label>
            <span><?php echo $block->escapeHtml($block->storeDetails->getFax());?></span>
        </div>
        <?php } ?>
        <?php if ($block->storeDetails->getEmail() != '') { ?>
        <div class="location_info">
            <label><?php echo $block->escapeHtml(__('Email:'));?></label>
            <span><?php echo $block->escapeHtml($block->storeDetails->getEmail());?></span>
        </div>
        <?php } ?>

    <?php if ($block->storeDetails->getData('details_texts') != '') {
             echo $block->escaper->escapeHtml($block->storeDetails->getData('details_texts'), $block->getAllowedTags());
} ?>
    </div>
    <div class="col-sm-offset-1 col-sm-4 location_details_right">

        <?php
        $showManager = $block->storeDetails->getShowManager();
        $managerNameExists = $block->storeDetails->getData('manager_name');
        if ($showManager == 1 && $managerNameExists != '') { ?>
            <div class="manangerdetails">
                <?php if ($block->storeDetails->getData('manager_image') != '') { ?>
                        <div class="managerimage_wrapper">
                            <img class="managerimage" src="/pub/media/<?php
                            echo $block->escapeHtml($block->storeDetails->getData('manager_image'));
                            ?>" alt="manager_image" />
                        </div>
                <?php } ?>
                <div class="location_info">
                        <label for="manager_name_text">Manager:</label>
                        <span id="manager_name_text"><?php echo $block->escapeHtml($block->storeDetails->getData('manager_name'));?></span>
                </div>
                <?php if ($block->storeDetails->getData('manager_email') != '') { ?>
                <div class="location_info">
                    <label for="manager_emailtext" >Email:</label>
                    <span id="manager_emailtext"><?php echo $block->escapeHtml($block->storeDetails->getData('manager_email'));?></span>
                </div>
                <?php } ?>
                <?php if ($block->storeDetails->getData('manager_phone') != '') { ?>
                <div class="location_info">
                    <label for="manager_phone_text">Phone:</label>
                    <span id="manager_phone_text"><?php echo $block->escapeHtml($block->storeDetails->getData('manager_phone'));?></span>
                </div>
                <?php } ?>
                </div>
        <?php
        }

        $times = $block->getClosingTimes();
        if ($times != null) {
            $daysOrder =  $block->getClosingTimesStartArray($times);

            if (!empty($times)) {
                    ?>
                     <h2><?php echo $block->escapeHtml(__('Trading hours'));?></h2>
                <table class="table table-striped">
            <tr>
            <th>Day</th>
            <th>Time</th>
            </tr>
            <?php
            foreach ($daysOrder as $d) {
                $t = $times->{strtolower($d)};
                if (!isset($t->name)) {
                    $t->name = $d;
                } ?>
            <tr>
                <td>
                <?php
                if (isset($t->special)) {
                    echo '<span style="color:red">';
                } else {
                    echo '<span>';
                }
                if (isset($t->today)) {
                    echo $block->escapeHtml('Today ('.ucfirst($t->name).')');
                } elseif (isset($t->tomorrow)) {
                    echo $block->escapeHtml('Tomorrow ('.ucfirst($t->name).')');
                } else {
                    echo $block->escapeHtml(ucfirst($t->name));
                }
                        echo '</span>';
                    ?>
                 </td>
                <td>
                <?php if ($t->closed == 1) { ?>
                        Closed
                    <?php } else { ?>
                        <?php
                        echo $block->escapeHtml(date('g:ia', strtotime($t->start_time)));
                        ?> -  <?php
                        echo $block->escapeHtml(date('g:ia', strtotime($t->end_time)));
                        ?>
                    <?php } ?>
                    </td>
            </tr>
            <?php
            } //end foreach?>

                    </table>
                    <?php
            }
        } //end if null
        ?>
    </div>
</div>
<div id="location_details_bottom" class="row">
    <div class="col-sm-12">
        <h2 class="location_header"><?php echo $block->escapeHtml(__('Location'));?></h2>
         <div id="mapwrapper" class="gm-style">
            <!--- MAP Mini box-->
            <div id="mapminibox">
                <div class="firstbox">
                    <div>
                        <div class="place-card place-card-large">
                            <div class="place-desc-large">
                                <div class="place-name">
                                    <?php echo $block->escapeHtml($block->storeDetails->getLocationName());?>
                                </div>
                                <div class="address">
                                    <?php echo $block->escapeHtml($block->storeDetails->getData('location_address')); ?>
                                </div>
                            </div>
                            <div class="navigate">
                                <div class="navigate"> 
                                    <a class="navigate-link" href="https://www.google.com/maps/dir/?api=1&destination=<?php echo $block->escapeHtml($block->storeDetails->getData('location_address')); ?>/<?php echo $block->escapeHtml($block->storeDetails->getData('geo_location_lat')); ?>,<?php echo $block->escapeHtml($block->storeDetails->getData('geo_location_lng')); ?>" target="_blank">
                                        <div class="icon navigate-icon"></div>
                                        <div class="navigate-text"> Directions </div>
                                    </a> 
                                </div>
                            </div>
                            <div class="maps-links-box-exp">
                                <div class="time-to-location-info-exp" style="display:none"> 
                                    <span class="drive-icon-exp experiment-icon"></span>
                                    <a class="time-to-location-text-exp" style="display:none" target="_blank"></a><a class="time-to-location-text-exp" style="display:none" target="_blank"></a> 
                                </div>
                                <div class="google-maps-link"> 
                                    <a href="https://maps.google.com/?daddr=<?php echo $block->escapeHtml($block->storeDetails->getData('location_address')); ?>" target="_blank">View larger map</a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <!--- END MAP Mini box-->
         <div id="map">
            <div class="spinner"></div>

            
         </div>
         </div>
    </div>
    <div class="col-sm-12">
</div>
</div><!--end controller-->
