
#image_image {
    height:auto;
    width:190px;
    display: block;
    margin-bottom: 10px;
}
#manager_image_image {
    height:auto;
    width:190px;
    display: block;
    margin-bottom: 10px;
}
#active0 {
margin-right:10px;
}
#default0 {
margin-right:10px;
}

#active0 {
margin-right:10px;
}

.closingtimes input[type="checkbox"] {
  margin-left:10px

}

.storeopen {
  text-align:center;
}

.storeclosed {

  text-align:center;
}

.closingtimes tr td {
  padding:10px;
}


.closingtimes tr td {
    border:1px solid #eee;  
}


.closingtimes {
  width:100%;
}

#popimage_image {
    height: auto;
    width: 160px;
    display: block;
    margin-bottom: 10px;
}
#store_locations_store_locations_group_default_icon_image {
    height: auto;
    width: 160px;
    display: block;
    margin-bottom: 10px;
}

table.weeklytimes { 
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  max-width: 100%;
  /* Table reset stuff */
  border-collapse: collapse; border-spacing: 0; 
}
    
table.closingtimes td, th {  border: 0 none; height: 30px; }
      
table.closingtimes th {
  /* Gradient Background */
  background: linear-gradient(#333 0%,#444 100%);
  color: #FFF; font-weight: bold;
  height: 40px;
}
    
table.closingtimes td { background: #FAFAFA; text-align: center; }

/* Zebra Stripe Rows */
    
table.closingtimes tr:nth-child(even) td { background: #EEE; } 
table.closingtimes tr:nth-child(odd) td { background: #e3e3e3; }

/* First-child blank cells! */
table.weeklytimes tr td:first-child,table.weeklytimes tr th:first-child { 
  background: none; 
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  text-align: right;
  padding-right: 10px;
  width: 80px; 
}

/* Add border-radius to specific cells! */
table.weeklytimes tr:first-child th:nth-child(2) { 
  border-radius: 5px 0 0 0; 
} 

table.weeklytimes tr:first-child th:last-child { 
  border-radius: 0 5px 0 0; 
}
#closing_times {
  display:none;
}

table.specialtimes input {
    max-width: 130px;
}
table.specialtimes {
      max-width: 100%;
}

.admin__fieldset > .admin__field > .admin__field-control {
  width:calc( (100%) * .5 - -56px );
}
.admin__field-option {

  float:left; margin-right:10px
}
.locations-edit-form-fieldset-element-form-field-default..admin__field-option:first-child {
  margin-right:40px
}
.admin__control-select {
max-width: 7.6rem;
}

.field-default .admin__field.admin__field-option {

  display:block;
float:none;

border:1px solid #ddd;
                    background: #f5f5f5;
                    padding:5px 10px;
                    margin-left:0;
                    width:200px;

}

#addressError,#addressCorrect  {
  display: none;
  float:left;
}
#addressError img {
  width:25px;

}
#addressCorrect img {
  margin-top:2px;
  width:20px;
}
#location_address{
  max-width:550px
}
.field-location_address .addafter {
  position:absolute;
  top:2px;
  margin-left:7px;

}