


.storerow {
      border:1px solid rgb(232, 232, 232);
      margin:3px 0;
      cursor: pointer;
      padding:10px 0;
      background: white;

}
#listwrapper .location_info {
      border:1px solid rgb(232, 232, 232);
      margin:3px 3px;
      cursor: pointer;
      padding:10px 0;
      background: white;

}

.detect{
font-size: 14px;
position: relative;
margin-top: -0.1em;
display: block;
width: 2em;
height: 2em;
border: solid 0.5em #2C2C2C;
border-radius: 2em;
}

.detect:before{
content: '';
width: 4em;
height: 0.5em;
left: -1em;
position: absolute;
background: #2C2C2C;
top: 0.8em;
border-radius: 1em;
}


.pac-icon {
  width: 0;
  background-image: none;
}
#listwrapper {
    min-height: 400px;
    width: 100%;
}

.mappopupinfo label {
  font-weight:800;
}

.mappopupinfo {
  padding:0;
  margin:0;
}
.smallstore {
width:160px;
}

.topheader {
padding-bottom: 4px;
    font-size: 18px;
    font-weight: 800;
}

.tradinghours {
    list-style-type: none;

}
.moreinfo {
    margin-top: 5px;
}
.location_name {
    display: block;
    font-size: 20px;
    font-weight: 400;
}
.location_address {
    display: block;
    margin:7px;
    font-size: 13px;
    font-weight: 200;
}
.location_phone {
    display: block;
    margin:7px;
    font-size: 13px;
    font-weight: 200;
    margin-left: 20px
}
.location_distance {
    display: block;
    margin:12px 0;
    text-align: right;
    font-size: 14px;
    font-weight: 200;
}
.maparea {
    background-color: rgb(245, 245, 245);
    border:2px solid rgb(232, 232, 232);
}
#listwrapper {
    overflow-x:scroll;
}

.storerow.listloader {
  width: 100%;
  position: relative;
  overflow: hidden;
  color: rgba(238, 238, 238, .38);
  background-color: rgba(250, 250, 250, 1);
}
.storerow.listloader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height:100%;
  /*background-color: rgba(250, 250, 250, .38);*/

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+1,0.60+36,0.68+51,0.60+64,0+100 */
background: -moz-linear-gradient(left, rgba(250, 250, 250,0) 0%, rgba(250, 250, 250,0) 1%, rgba(250, 250, 250,0.60) 28%, rgba(250, 250, 250,0.68) 51%, rgba(250, 250, 250,0.60) 72%, rgba(250, 250, 250,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(250, 250, 250,0) 0%,rgba(250, 250, 250,0) 1%,rgba(250, 250, 250,0.60) 28%,rgba(250, 250, 250,0.68) 51%,rgba(250, 250, 250,0.60) 72%,rgba(250, 250, 250,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(250, 250, 250,0) 0%,rgba(250, 250, 250,0) 1%,rgba(250, 250, 250,0.60) 28%,rgba(250, 250, 250,0.68) 51%,rgba(250, 250, 250,0.60) 72%,rgba(250, 250, 250,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
  animation: loading 1.5s linear infinite;
z-index:999
}

.listloader {
  color:#eaeaea;
  background-color: #eaeaea;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
/*    50% {width: 60%;}
    70% {width: 80%;}
    80% { left: 50%;}
    95% {left: 80%;}*/
    to {left: 100%;}
}

.locations-store-index label{
   font-weight:800; 
}

.searchx {
    display:  inline-block; ;
    background-image: url('/pub/static/frontend/Simpleplugz/Locations/en_US/Simpleplugz_Locations/images/xbutton.jng');
    background-size: 96px 24px;
    height: 24px;
    width: 24px;
    cursor: pointer;
        right: 5px;
    top: 4px;
    background-color: white;
   
}

.simplebuttons {
  list-style-type:  none;
      padding-left: 0;
  margin-left: 0;
      margin-bottom:0;
}
.simplebuttons li {
  display:  inline-block; 
  border:1px solid grey;
  width: 49%;
  padding:10px;
  margin:0;
  text-align: center;
}
.simplebuttons li.active {
  background:lightgrey;
}

.mobileview #listwrapper {
  max-height: 4000px !important;
}
.mobileview #listwrapper .col-xs-12,.mobileview .maparea .col-xs-12 {
  padding-left:0;
  padding-right:0;
}
.mobileview .moreinfo  {
    text-align: center;
}

.mobileview .managerimage {
  margin:0 auto;

}
.mobileview .manangerdetails {
  margin:10px auto;
  border-top: 1px solid #eeeee;

}

.mobileview .location_distance {
margin-left: 12px;
}

#mobiview_map,#mobiview_list {
border: 1px solid rgba(158, 158, 158, 0.23);
    padding: 4px 11px;
    color: #333;
    background: #eee;
    line-height: 2.05;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 16px;
}
#mobiview_map.active,#mobiview_list.active {
    background: #7e807e;
    color: white;
  }

.tabpostcode {
border: 1px solid rgba(158, 158, 158, 0.23);
    padding: 4px 11px;
    background: #eee;
    line-height: 2.05;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 16px;
    color:black;
    cursor: pointer;
}
.tabaddress {
  border: 1px solid rgba(158, 158, 158, 0.23);
    padding: 4px 11px;
    background: #eee;
    line-height: 2.05;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 16px;
    color:black;
    cursor: pointer;

  }

  #current_location {
    position: absolute;
    right: 17px;
    padding: 10px 16px;
    /* width: 134px; */
    border: 1px solid lightgrey;
    top: 16px;
    background: #eee;
    border-radius: 5px;
    padding: 4px 13px;
  }
  #listview {

    padding-top:11px;
    margin: 1px 0px;
    max-height: 515px;
    overflow-y: scroll;
  }


#mapview {
  padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 12px;
}

#search_wrapper_all {
  width:100%;
  position:relative;
  display:inline-block
}
#search_wrapper {
  position:relative;
  margin-bottom: 10px
}

  .tabpostcode.active {
    background: #7e807e;
    color: white;
  }
  .tabaddress.active {
    background: #7e807e;
    color: white;
  }
  #user_address {
    color: black;
    font-size: 16px;
    height:41px;
    display:inline-block;
    min-width:250px;
  }
  #emptysearch {
    position: absolute;
    right: 18px;
    padding: 10px 16px;
    /* width: 134px; */
    border: 1px solid lightgrey;
    top: 16px;
    background: #eee;
    border-radius: 5px;
    padding: 4px 13px;
    display:none;
    color: black;
  }
  #current_location {
    position: absolute;
    right: 5px;
    padding: 10px 16px;
    /* width: 134px; */
    border: 1px solid lightgrey;
    top: 6px;
    background: #eee;
    border-radius: 5px;
    padding: 4px 13px;
  }

   #current_location a {
    margin-left: 20px;
   }
  .storefindertitle {
font-size: 40px;
    margin-bottom: 40px;
    margin-top: 18px;
}



#current_location {
  display: block;
}

.nolocationshead {
  display: block; 
    font-size:18px;
} 
.nolocationssub {
  display:  block; 
    font-size:14px;
} 


#storefinderheading {
    margin-top: 22px;
    margin-bottom: 0;
}
#search_wrapper {

  padding:10px;
  background:#7e807e
}
.nolocations {
  width:100%;
text-align:center;
 margin-top:15px;
}

 .getdirectionsbutton{
      margin-right:15px;
      float: right;
  }
  .getfullbutton{
      margin-left:15px;
  }

#nosearchfound {
  display: none;
    position: absolute;
    background: white;
    width: 97%;
    border: 1px solid grey;
    padding: 10px;
}


 /* loader */
 .spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}  /* end loader */

/*locations List*/
.search_wrapper_all.hidden {
  display:none;
}

#listwrapper .location_info img {
  margin-top:15px;
}
#listwrapper .location_list_middle {
     padding-left:0;
}
#listwrapper .location_list_right label {
     margin-left: 5px;
}
/* end locations List*/

#storefinder .search_wrapper_margin {
  margin-top: 7px;
}
#storefinder .search_wrapper_postion {
  margin-bottom:10px
  }

#map {
  width:100%;
  min-height:500px;
  border:2px solid rgb(232, 232, 232);
}
#map .spinner {
  margin-top:100px
}

#listview .spinner {
    margin-top:100px
}
#search_wrapper_all.hidden {
  display:none;
}
.clearboth {
  clear:both;
}

#location_details .store_image {
    width:100%;
    margin-bottom: 20px;
}
.location_details_left .directions {
    float:right;
    font-size:13px;
}
.location_details_left .address_heading {
    margin-bottom: 5px;
    margin-top:0;
    float:left;
}

.managerimage_wrapper {
      text-align:   center;
}
.managerimage {
      width:160px;
}
#location_details .location_info {
   padding:7px 0;
}
.manangerdetails {
    border: 1px solid lightgrey;
    padding: 16px;
    background: #eee;
    max-width: 350px;
    /*margin: 0 24px;*/
}
.location_details_right table td {
  padding:  11px 0;
}
.location_details_right table {
  max-width: 350px
}
.location_header {
  margin-top:0;
}
#location_details {
  margin-bottom:  10px;
}

.location_address {
    font-size:18px;
}

#location_details_bottom #map {
    width:100%;
    min-height:450px;
}
#location_details_bottom #map .spinner {
    margin-top:100px;
}

@-webkit-keyframes mappulse {
    0% {  opacity: 0.5; }
    50% { opacity: 1; }
    100% { opacity: 0.5; }
}

@keyframes mappulse {
    0% { opacity: 0.5; }
    50% { opacity: 1; }
    100% { opacity: 0.5; }
}

.maploader {
    -webkit-animation: mappulse 1s infinite ease-in-out;
    -o-animation: mappulse 1s infinite ease-in-out;
    -ms-animation: mappulse 1s infinite ease-in-out; 
    -moz-animation: mappulse 1s infinite ease-in-out; 
    animation: mappulse 1s infinite ease-in-out;
}
.col-md-12 #listwrapper img {
  max-width:40px;
  margin:0 auto;
}

#listwrapper .col-xs-3 {
  text-align:center;
}

.fullview .splitviewarea {
    display:none;
}
.fullviewbutton {
    text-align: center;
    border-radius: 9px;
}
.fullviewbutton:hover {
    text-decoration:none;
/*background: #e8e8e8;*/
}
.fullviewbutton a {
    margin-left:0;
    margin-right:0;
    text-decoration:none;
    text-align:center;
    padding:5px;
}

.splitview .fullviewbutton {
  display:none;
}
.location_info:hover {
  background-color:#f9f9f9;

}

.col-md-12 #listwrapper img.storeicon {
    width: 64px;
    max-width: 69px;
    margin-top: -14px;
    margin-bottom: -10px;
    margin-left:2px
}

 .getfullbutton{
      margin-right:15px;
      float: left;
  }

.mappopupinfo .col-sm-6 {
  min-width:100px;
}
.bottombox div {
    padding-right: 0;
}
#listwrapper .location_info.active {
  background: #eee;
}
.pointerwrapper {
  text-align:center;
}

.sm_distance {
  display: none;
}

.mappopupinfo .getdirections {
  text-align: right;
  padding-left:0;
}


/***** MAP CSS **************/


/* Google maps card styles - COPIED */
.gm-style .place-card div,
.gm-style .place-card a,
.gm-style .default-card div,
.gm-style .default-card a {
  color: #5B5B5B;
  font-family: Roboto, Arial;
  font-size: 12px;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text
}

.gm-style .place-card,
.gm-style .default-card,
.gm-style .directions-card {
  cursor: default
}

.gm-style .place-card-large {
  padding: 9px 4px 9px 11px
}

.gm-style .place-card-medium {
  width: auto;
  padding: 9px 11px 9px 11px
}

.gm-style .default-card {
  padding: 5px 14px 5px 14px
}

.gm-style .place-card a:link,
.gm-style .default-card a:link,
.gm-style .directions-card a:link {
  text-decoration: none;
  color: #3a84df
}

.gm-style .place-card a:visited,
.gm-style .default-card a:visited,
.gm-style .directions-card a:visited {
  color: #3a84df
}

.gm-style .place-card a:hover,
.gm-style .default-card a:hover,
.gm-style .directions-card a:hover {
  text-decoration: underline
}

.gm-style .place-desc-large {
  width: 200px;
  display: inline-block
}

.gm-style .place-desc-medium {
  display: inline-block
}

.gm-style .place-card .place-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 14px;
  color: black
}

html[dir="rtl"] .gm-style .place-name {
  padding-right: 5px
}

.gm-style .place-card .address {
  margin-top: 6px
}

.gm-style .tooltip-anchor {
  width: 100%;
  position: relative;
  float: right;
  z-index: 1
}

.gm-style .star-entity .tooltip-anchor,
.gm-style .star-entity-medium .tooltip-anchor,
.gm-style .navigate-entity-medium .tooltip-anchor,
.gm-style .navigate .tooltip-anchor {
  width: 50%;
  display: none
}

.gm-style .star-entity:hover .tooltip-anchor,
.gm-style .star-entity-medium:hover .tooltip-anchor,
.gm-style .navigate-entity-medium:hover .tooltip-anchor,
.gm-style .navigate:hover .tooltip-anchor {
  display: inline
}

.gm-style .tooltip-anchor>.tooltip-tip-inner,
.gm-style .tooltip-anchor>.tooltip-tip-outer {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  background-color: transparent;
  position: absolute;
  left: -8px
}

.gm-style .tooltip-anchor>.tooltip-tip-outer {
  border-bottom: 8px solid #CBCBCB
}

.gm-style .tooltip-anchor>.tooltip-tip-inner {
  border-bottom: 8px solid white;
  z-index: 1;
  top: 1px
}

.gm-style .tooltip-content {
  position: absolute;
  top: 8px;
  left: -70px;
  line-height: 137%;
  padding: 10px 12px 10px 13px;
  width: 210px;
  margin: 0;
  border: 1px solid #CBCBCB;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: white
}

html[dir="rtl"] .gm-style .tooltip-content {
  left: -10px
}

.gm-style .star-entity-medium .tooltip-content {
  width: 110px
}

.gm-style .navigate {
  display: inline-block;
  vertical-align: top;
  height: 43px;
  padding: 0 7px
}

.gm-style .navigate-entity-medium {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin-top: 1px
}

.gm-style .navigate-link {
  display: block
}

.gm-style .place-card .navigate-text,
.gm-style .place-card .star-entity-text {
  margin-top: 5px;
  text-align: center;
  color: #3a84df;
  font-size: 12px;
  max-width: 55px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.gm-style .place-card .hidden {
  margin: 0;
  padding: 0;
  height: 0;
  overflow: hidden
}

.gm-style .navigate-icon {
  width: 22px;
  height: 22px;
  overflow: hidden;
  margin: 0 auto
}

.gm-style .navigate-icon {
  border: 0
}

.gm-style .navigate-separator {
  display: inline-block;
  width: 1px;
  height: 43px;
  vertical-align: top;
  background: -webkit-linear-gradient(top, #fbfbfb, #e2e2e2, #fbfbfb);
  background: -moz-linear-gradient(top, #fbfbfb, #e2e2e2, #fbfbfb);
  background: -ms-linear-gradient(top, #fbfbfb, #e2e2e2, #fbfbfb);
  background: -linear-gradient(top, #fbfbfb, #e2e2e2, #fbfbfb)
}

.gm-style .star-entity {
  display: inline-block;
  vertical-align: top;
  height: 43px;
  padding: 0 7px
}

.gm-style .star-entity .star-button {
  cursor: pointer
}

.gm-style .navigate-entity .navigate-button {
  cursor: pointer
}

.gm-style .star-entity-medium {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin-top: 1px
}

.gm-style .star-entity:hover .star-entity-text {
  text-decoration: underline
}

.gm-style .star-entity-icon-large {
  width: 22px;
  height: 22px;
  overflow: hidden;
  margin: 0 auto
}

.gm-style .star-entity-icon-medium {
  width: 17px;
  height: 17px;
  top: 0px;
  overflow: hidden;
  margin: 0 auto
}

.gm-style .navigate-entity-icon-medium {
  width: 17px;
  height: 17px;
  top: 0px;
  overflow: hidden;
  margin: 0 auto
}

.gm-style .can-star-large {
  position: relative;
  cursor: pointer;
  width: 22px;
  height: 22px;
  overflow: hidden;
  margin: 0 auto
}

.gm-style .logged-out-star,
.logged-out-star:hover {
  position: relative;
  cursor: pointer;
  width: 22px;
  height: 22px;
  overflow: hidden;
  margin: 0 auto
}

.gm-style .is-starred-large {
  position: relative;
  cursor: pointer;
  width: 22px;
  height: 22px;
  overflow: hidden;
  margin: 0 auto
}

.gm-style .can-star-medium {
  position: relative;
  height: 17px;
  top: -2px;
  cursor: pointer
}

.gm-style .is-starred-medium {
  position: relative;
  height: 17px;
  top: -2px;
  cursor: pointer
}

.gm-style .navigate-icon-medium {
  position: relative;
  height: 17px;
  top: -2px;
  cursor: pointer
}

.gm-style .review-box {
  padding-top: 5px
}

.gm-style .place-card .review-box-link {
  padding-left: 8px
}

.gm-style .place-card .review-number {
  display: inline-block;
  color: #e7711b;
  font-weight: 500;
  font-size: 14px
}

.gm-style .rating-star {
  display: inline-block;
  width: 11px;
  height: 11px;
  overflow: hidden
}

.gm-style .directions-card {
  color: #5B5B5B;
  font-family: Roboto, Arial;
  background-color: white;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text
}

.gm-style .directions-card-medium-large {
  height: 71px;
  padding: 10px 11px
}

.gm-style .directions-info {
  padding-left: 25px
}

.gm-style .directions-waypoint {
  height: 20px
}

.gm-style .directions-address {
  font-weight: 400;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: black
}

.gm-style .directions-icon {
  float: left;
  vertical-align: top;
  padding-top: 2px;
  height: 50px;
  width: 20px
}

.gm-style .directions-icon div {
  width: 15px;
  height: 45px;
  overflow: hidden
}

.gm-style .directions-separator {
  position: relative;
  height: 1px;
  margin-top: 3px;
  margin-bottom: 4px;
  background-color: #ccc
}

.gm-style .maps-links-box-exp {
  padding-top: 5px
}

.gm-style .time-to-location-info-exp {
  padding-right: 10px;
  border-right: 1px solid #ccc;
  margin-right: 10px;
  display: inline-block
}

.gm-style .google-maps-link-exp {
  display: inline-block;
  vertical-align: middle
}

.gm-style .time-to-location-text-exp {
  vertical-align: middle
}

.gm-style .place-card-large .only-visible-to-you-exp {
  padding-top: 5px;
  color: #ccc;
  display: inline-block
}

.gm-style .place-card-large .time-to-location-privacy-exp .learn-more-exp {
  color: #ccc;
  text-decoration: underline
}

.gm-style .navigate-icon {
  background-position: 0px 0px
}

.gm-style .navigate:hover .navigate-icon {
  background-position: 48px 0px
}

.gm-style .navigate-icon-medium {
  background-position: 0px 94px
}

.gm-style .navigate-icon-medium:hover {
  background-position: -16px 94px
}

.gm-style .can-star-large {
  background-position: 70px 187px
}

.gm-style .star-button:hover .can-star-large {
  background-position: 48px 187px
}

.gm-style .logged-out-star {
  background-position: 96px 187px
}

.gm-style .star-button:hover .logged-out-star {
  background-position: 96px 187px
}

.gm-style .is-starred-large {
  background-position: 0px 166px
}

.gm-style .rating-full-star {
  background-position: 48px 165px
}

.gm-style .rating-half-star {
  background-position: 35px 165px
}

html[dir="rtl"] .gm-style .rating-half-star {
  background-position: 10px 165px
}

.gm-style .rating-empty-star {
  background-position: 23px 165px
}

.gm-style .directions-icon {
  background-position: 0px 144px
}

.gm-style .hovercard-personal-icon-home {
  background-position: 96px 102px
}

.gm-style .hovercard-personal-icon-work {
  background-position: 96px 79px
}

.gm-style .can-star-medium {
  background-position: 0px 36px
}

.gm-style .can-star-medium:hover {
  background-position: -17px 36px
}

.gm-style .logged-out-star-medium {
  background-position: 36px 36px
}

.gm-style .star-button:hover .logged-out-star-medium {
  background-position: 36px 36px
}

.gm-style .is-starred-medium {
  background-position: 0px 19px
}

.gm-style .info {
  height: 30px;
  width: 30px;
  background-position: 19px 36px
}

.saved-from-source-link {
  margin-top: 5px;
  max-width: 331px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.gm-style .drive-icon-exp {
  background-position: -90px -62px;
  display: inline-block;
  width: 18px;
  height: 16px;
  overflow: hidden;
  margin: 0 auto;
  margin-right: 5px;
  vertical-align: middle
}

.gm-style .star-entity-icon-large-exp {
  width: 42px;
  height: 42px;
  overflow: hidden;
  margin: 0 auto
}

.gm-style .can-star-large-exp {
  position: relative;
  cursor: pointer;
  width: 42px;
  height: 42px;
  overflow: hidden;
  margin: 0 auto
}

.gm-style .logged-out-star-exp,
.logged-out-star-exp:hover {
  position: relative;
  cursor: pointer;
  width: 42px;
  height: 42px;
  overflow: hidden;
  margin: 0 auto
}

.gm-style .is-starred-large-exp {
  position: relative;
  cursor: pointer;
  width: 42px;
  height: 42px;
  overflow: hidden;
  margin: 0 auto
}

.gm-style .can-star-large-exp {
  background-position: -46px -46px
}

.gm-style .star-button-exp:hover .can-star-large-exp {
  background-position: -2px -46px
}

.gm-style .logged-out-star-exp {
  background-position: -46px -91px
}

.gm-style .star-button-exp:hover .logged-out-star-exp {
  background-position: -2px -46px
}

.gm-style .is-starred-large-exp {
  background-position: -2px -91px
}

.gm-style .star-button-exp {
  position: absolute;
  right: -10px
}

.gm-style .star-entity-exp .star-button-exp {
  cursor: pointer
}

.gm-style .navigate-icon-exp {
  width: 42px;
  height: 42px;
  overflow: hidden;
  margin: 0 auto
}

.gm-style .navigate-icon-exp {
  border: 0
}

.gm-style .navigate-icon-exp {
  background-position: -46px -1px
}

.gm-style .navigate:hover .navigate-icon-exp {
  background-position: -2px -1px
}

.gm-style .navigate-exp {
  display: inline-block;
  vertical-align: top;
  height: 43px;
  padding: 0 7px;
  position: absolute;
  right: -18px
}

.gm-style .icon {
  background-image: url(https://maps.gstatic.com/mapfiles/embed/images/entity11.png);
  background-size: 70px 210px;
}

#mapminibox {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index:  9999;
}
#mapwrapper {
  position:  relative;
}
#mapminibox .firstbox {
  margin: 10px; 
  padding: 1px; 
  -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; 
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; 
  border-radius: 2px; 
  background-color: white;
}
#map {
  z-index:111;
} 
/********************** END MAP ***********************/
