@media (max-width: 990px) {

  #listview {
    display: none;
  }
  #listview.active {
    display: block;
  }
  #mapview {
    display: none;
  }
  #mapview.active {
    display: block;
  }

  #current_location {
    display: none!important;
  }


  #mapview {
    padding-left:0;
    padding-top:0;
    padding-bottom:0;
    padding-right:0;
  }
  .smallstore {
    display: none;
  }

  #listview {
    padding-top:3px;
    padding-left:3px;
    padding-right:3px;
  }

  .location_distance {
    margin:3px 0;
    font-weight:  800;
  }
  .location_address {
    margin-left:  0;
  }
  .getdirectionsbutton{
      margin-right:0;
      float: right;
  }
  .getfullbutton{
      margin-left:0;
  }

  .location_list_right  {
    display:none;
  }
  .fullview .splitviewarea {
    display:block;
  }

  #storefinder .search_wrapper_postion {
    padding-left: 0;
    padding-right: 0;
    margin-bottom:0;

  }

  #storefinderheading {
    margin-top:5px;
  }

  #listview {

    overflow-y: initial;
    max-height: none;
  }

  .location_distance {

    text-align: center;
    margin: 2px 0;
  }
  
  .sm_distance {
    display: block;
    margin-bottom: 3px;
  }

} /** end media query */
