<?php
//get the api key from the config
$apikey = $block->getApiKey();
//get the date order from magneto config
$dateFormat = $block->getDateOrderJavascript();
?>
<!-- include the google mpas api key-->
<script type="text/x-magento-init">
    {
        "*": {
            "Simpleplugz_Locations/js/loadDateConfig":{
                "dateFormat":"<?php echo $dateFormat;?>"
            },
            "https://maps.googleapis.com/maps/api/js?key=<?php echo $block->escapeHtml($apikey);?>&libraries=places&callback=googleMapsLoaded":{}
        }
    }
</script>
<?php
//check to make sure they have a Google API Key
if ($apikey == '') {?>
<div id="messages">
    <div class="messages">
        <div class="message message-warning warning">
            <div data-ui-id="messages-message-warning">
            <?php echo $block->escapeHtml(__('Attention: You must add in Google API Key to continue'));?>
            </div>
        </div>
    </div>
</div>
<?php  }
?>