<?php
//check to make sure they have a Google API Key
$apikey = $block->getApiKey();
if ($apikey == '') {?>
<div id="messages">
    <div class="messages">
        <div class="message message-warning warning">
            <div data-ui-id="messages-message-warning">
            <?php echo $block->escapeHtml(__('Attention: You must add in Google API Key to continue'));?>
            </div>
        </div>
    </div>
</div><br>
<?php } ?>
<a href="/locations/">View Frontend</a>
